body {
	font-family: Helvetica, Arial, Sans-Serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333333;
}

.load-wait{
	display: none;
	background-color: #eee;
}

.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.6;
	background: url(../images/loader.gif) center no-repeat;
	z-index: 1051;
}

.email-content{
    display: block;
    width: 100%;
	height: 250px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.positioncss{
	position: sticky;
    width: 100%;
    top: 0;
    z-index: 123;
}

.hallline{
	white-space: pre-line
}

.email-form{
	width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.center{
	text-align: center;
}

.space{
	margin: 15px;
}

.title-font{
	font-size: x-large;
}

.login{
	/*background-color: #4a90e2;*/
	background-image:url('../images/back-image.jpg');
	height: 100%;
	width:100%;
}

.reg{
	background-color: #4a90e2;
	/*background-image:url('../images/back-image.jpg');*/
	height: 100%;
	width:100%;
}


.login-form{
	width: 35%;
    margin-left: auto;
    margin-right: auto;
}

/* .login-form-parent{
	margin-top: 12%;
} */

.login-form-card{
	padding: 55px;
    background: white;
    /* width: 40%; */
	margin: auto;
	margin-top:15%;
	border-radius: 10px;
	box-shadow: 0 5px 10px #C0C0C0;
}

.login-title{
	/* text-align: -webkit-center; */
    font-size: x-large;
	font-weight: 700;
	color:#fff;
	margin-bottom:32px;
}

.topbar{
	height: 60px;
	border:1px solid #ccc;
}

.ul-element{
	list-style: none;
	display: -webkit-box;
}

.attach-file{
	width: 45%;
    margin-top: 10px;
    font-weight: 700;
}

.navbar-back{
	background: white;
}

.topbar-user{
	/* margin-right: 10%; */
    line-height: 70px;
}

.user-name{
	padding: 0px 8px 0px 0px;
}

.separator{
	width : 1px;
	background: #ccc;
}

.main-body{
	background: #FFFFFF !important;
	min-height: -webkit-fill-available;
	overflow: hidden;
	/* margin-top: 9%; */
}

.Oval-6 {
	width: 22px;
	height: 22px;
	background-color: #8b8fa1;
  }

  .base {
	width: 24px;
	height: 24px;
  }

  .menu {
	width: 16%;
	height: 50px;
	line-height : 50px;
	color: #8b8fa1;
	text-align: center;
	font-weight: 900;
  }

  .menu1 {
	width: 200px;
	height: 50px;
	line-height : 50px;
	color: #8b8fa1;
	margin: 0px 10px 0px 10px;
  }
  .ul-sub-menu{
	  list-style: none;
	  display: -webkit-inline-box;
	  margin-bottom: auto;
  }

  .ul-sub-menu1{
		list-style: none;
		display: -webkit-inline-box;
		margin-bottom: auto;
	}

  .menu:hover ,.active{
		color:  #007fff;
		cursor: pointer;
	}
  .sub-sub-menu:hover{
		border-bottom: 2px solid #007fff;
		color:#007fff;
		cursor: pointer; 
	}

	.active-bottom{
		border-bottom: 2px solid #007fff;
		color:#007fff;
	}

	.notice-list{
		margin-top: 10px;
	}

	.notice-display-area{
		/* width:68%; */
		background: #95a9c0;
		margin-left: 2%;
		margin-top: 10px;
		padding-bottom: 35px;
	}

	.notice-list-title{
		background-color: #fff;
		color: #007fff;
		font-weight: bolder;
		padding: 4%;
		border-bottom: 1px solid #007fff;
		box-shadow: inset 0 -1px 0 0 #9fcdf8;
	}

	.notice-link{
		/* height: 36px; */
		padding:10px;
		background-color: #fff;
		color: #007fff;
		cursor: pointer;
		border-left: 1px solid #007fff;
		border-right: 1px solid #007fff;
		border-bottom: 1px solid #007fff;
		overflow: hidden;
		box-shadow: inset 0 -1px 0 0 #9fcdf8;
	}

	.notice-link:hover{
		border:2px solid;
	}

	.notice-active{
		border:2px solid;
	}

	.week-link-active{
		opacity: .5;
	}

	.create-notice-button{
		    width:100%;
			height: 38px;
			border-radius: 3px;
			background-color: #eb4a74;
			border: solid 1px #d0021b;
			color : #fff;
			text-align: center;
			vertical-align: middle;
			line-height: 36px;
			font-weight: bolder;
			cursor: pointer;
	}

	.pdf-page-prev-next{
		width: 100px;
		background: #f5f6fa;
		border-radius: 14px;
		padding: 4px;
		/* margin-left: auto;
		margin-right: auto; */
		margin-top: 20px;
	}

	.pdf-zoom-in-out{
		width: 100px;
		background: #f5f6fa;
		border-radius: 14px;
		padding: 4px;
		margin-left: 70%;
		margin-top: 20px;
	}
	.official-text-display{
		height: 100%;
		background: #fff;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;
		padding: 5%;
	
	}

	.home-page{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		padding-top:50px;
		background-color: #FFFFFF;

	}

	.home-child-one{
		width: 48%;
		background: #FFFFFF;
		margin-top:7%;
		
	}

	.training-material-active{
		color:#007fff;
	}

	.home-child-title{
		padding: 10px;
		border: 1px solid #ccc;	
		background: #FFFFFF;
		color: #000000;
		font-size: small;
		cursor: pointer;
	}

	.home-child-one-child{
		padding: 10px;
		border: 1px solid #ccc;	
		background: #FFFFFF;
		color: #000000;
		font-size: 12px;
		cursor: pointer;
	}

	.home-child-one-child:hover{
		border: 2px solid #007fff !important;	
	}

	.notice-subject-home{
		width:63%;
	}

	.notice-type-home{
		width:23%;
		text-align:right;
		color:#fe6b29;
		font-size:small;
	}

	.notice-time-home{
		width:15%;
		text-align:right;
		font-size:small;
		text-align: left;
		color: #9b9b9b;
	}

	.notice-home-count{
		width:62%;
		display:-webkit-box;
		font-size:small;
		margin-left: auto;
	}

	 .top-two-header{
		display: none;
	} 

	.bottom-border{
		border: 1px solid;
		border-bottom-color: #9fcdf8;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}

	.padding-left-zero{
		padding-left: 0px !important;
	}

	.padding-right-zero{
		padding-right: 0px !important;
	}
	.padding-top-bottom{
		padding-top:7px;
		padding-bottom: 7px;
	}
	.padding-zero{
		padding:0;
	}

	.quick-link{
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	.event-mar{
		margin-left:16%;
	}
	.reg-cls{
		width:51%;
		margin-left: auto;
		margin-right: auto;
	}

	.course-menu{
		width: 17%;
		height: 50px;
		line-height : 50px;
		color: #8b8fa1;
		margin: 0px 10px 0px 10px;
	  }
	.course-menu-ul{
		list-style: none;
		display: -webkit-inline-box;
		margin-bottom: auto;
		width: 100%;
	}
  
	.wrapper {margin: 0 auto; width: 100%;overflow-x: auto; }
.pdf-controls { width: 100%; display: block; background: #eee; padding: 1em;}
.rotate0 {-webkit-transform: rotate(0deg); transform: rotate(0deg); }
.rotate90 {-webkit-transform: rotate(90deg); transform: rotate(90deg); }
.rotate180 {-webkit-transform: rotate(180deg); transform: rotate(180deg); }
.rotate270 {-webkit-transform: rotate(270deg); transform: rotate(270deg); }
.fixed { position: fixed; top: 0; left: calc(50% - 480px); z-index: 100; width: 90%; padding: 1em; background: rgba(238, 238, 238,.9); width: 90%;padding:5%; }

.videoDiv{
	width: 700px;
	height:500px;
	margin:0 auto;
  }
  
  /* ELEMENTS + UTILITY */
  /* html, body {
	  padding:0;
	  margin:0;
	  overflow:hidden;
  } */
  /* player */

.player video {
	max-width: 100%;
	width:100%;
	height: 600px;
    display: block;
}
.player .progress {
    border-radius: 0;
    margin: 0 0 5px 0;
    height: 10px;
}
.player .progress-bar {
    background-color: #9e0b0f;
}
.player .controls {
    text-align: center;
    font-size: 2em;
}
.player .controls a {
    color: #777;
    cursor: pointer;
    color: #000;
    font-size: 1em;
    margin: 0 10px;
}
.player .controls a:hover {
    color: #555;
}
.player  .glyphicon {
    vertical-align: middle;
}
/* progress */
 .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
    /* float: left; */
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress.active .progress-bar, .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar[aria-valuenow="1"], .progress-bar[aria-valuenow="2"] {
    min-width: 30px;
}
.progress-bar[aria-valuenow="0"] {
    min-width: 30px;
    color: #777;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.login-box{
    width: 340px;
   /* height: 420px;*/
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
/*h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}*/

.change-pass{
	border: 1px solid #ccc !important;
	background:#fff !important;
	color: #000 !important;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}

.home-view-more{
    text-align: -webkit-center;
    background: #FFFFFF;
    border-color: #e0e6ef;
    border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 12px;
	color: #007fff;
	cursor: pointer;
}

.top-bar-main{
	display: block;
}

.side-bar-main{
	display: none;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9fcdf8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.academics-notices{
	font-size: 22px;
    color: #a7a7a7;
    padding: 5px 0 5px 0;
    font-weight: bold;
}
.no-material-notice{
	background: #ffffff;
    height: 150px;
    text-align: -webkit-center;
    padding: 57px;
}

.faculty-list-display{
	margin-top: 60px;
}
.faculty-list{
	max-height: 450px;
	overflow-y: scroll;
}

.batch-profile{
	width:48%;
	margin: 4px;
	float: left;
	min-height: 500px;
}

.search-batch{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.faculty-list-active{
    background: #f5f5f5;
}

.faculty-contact-height{
	height: auto;
}

.batch-word{
	word-wrap: break-word;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	/* width: 40%; */
	padding: 20px;
	background: #fff;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.panel-border{
	border-color: #fff;
}

.faculty-contact{
	width: 33%;
	float:left;
}

.faculty-address{
	font-size : 10pt;
}

.user-profile{
    padding: 20px;
    font-size: 13pt;
}

.page-wise-menu{
	border-bottom:1px solid #e0e6ef;
}

.club-select{
	text-align: center;
	padding: 10px;
}

.club-select-pad{
	padding: 10px;
	width:260px;
	margin-top:5px;
}
.create-event-button{
	width:100%;
	height: 38px;
	border-radius: 3px;
	background-color: #eb4a74;
	border: solid 1px #d0021b;
	color : #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 36px;
	font-weight: bolder;
	cursor: pointer;
}

.create-session-button{
	width:200px;
	height: 38px;
	border-radius: 3px;
	background-color: #eb4a74;
	border: solid 1px #d0021b;
	color : #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 36px;
	font-weight: bolder;
	cursor: pointer;
}

.create-session-button:hover{
	opacity : .8;
}

.margin-center{
	margin-left: auto;
	margin-right: auto;
}
.padding-all{
	padding: 10px;
}

.event-list-title{
	background-color: #fff;
	color: #007fff;
	font-weight: bolder;
	padding: 4%;
	border-bottom: 1px solid #007fff;
	box-shadow: inset 0 -1px 0 0 #9fcdf8;
}

.event-link{
	/* height: 36px; */
	padding:4px;
	background-color: #fff;
	color: #007fff;
	cursor: pointer;
	border-left: 1px solid #007fff;
	border-right: 1px solid #007fff;
	border-bottom: 1px solid #007fff;
	overflow: hidden;
	box-shadow: inset 0 -1px 0 0 #9fcdf8;
}

.event-link:hover{
	border:2px solid;
}

.event-active{
	border:2px solid;
}
.event-display-area{
	background: #95a9c0;
	/* margin-left: 2%; */
	margin-top: 10px;
	padding-bottom:12px;
	padding-top:5px;
	height: 600px;
}

.event-text-display{
	background: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	height: 550px;
	padding: 5%;
}



.club-info{
	color: #007fff !important;
	font-weight: bolder;
	box-shadow: inset 0 -1px 0 0 #9fcdf8;
}

.club-info-box{
	max-height: 230px;
	overflow-x: auto;
	font-size: 12px;
	min-height: 230px;
}

.club-side-list{
	/* margin-top: 10px; */
	min-height:500px;
	max-height:500px;
	overflow-y:scroll;
}

.event-list-menu{
	margin-top:10px;
}

.hall-btn{
	font-size: 10px;
	font-weight: 900;
}

#hall::-webkit-scrollbar {
    width: 9px;
}
#hall::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
#hall::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#clubDesc::-webkit-scrollbar {
    width: 9px;
}
#clubDesc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
#clubDesc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#club-side-list:hover::-webkit-scrollbar {
	width: 9px;
	display: block;
}

#club-side-list::-webkit-scrollbar {
	width: 9px;
	display: none;
}
#club-side-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
#club-side-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#home-event:hover::-webkit-scrollbar {
	width: 9px;
	display: block;
}

#home-event::-webkit-scrollbar {
	width: 9px;
	display: none; 
}
#home-event::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	
}
#home-event::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	/* display: none;  */
}

#home-bday:hover::-webkit-scrollbar {
	width: 9px;
	display: block;
}

#home-bday::-webkit-scrollbar {
	width: 9px;
	display: none;
}
#home-bday::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	/* display: none;  */
}
#home-bday::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	/* display: none;  */
}

 #quick-link::-webkit-scrollbar {
	width: 9px;
	display: none;
}
 #quick-link::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	/* display: none;  */
}
 #quick-link::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	/* display: none;  */
}

#quick-link:hover::-webkit-scrollbar {
	width: 9px;
	display: block;
}



.hall-title{
	text-align:-webkit-right;
	width:84%;
}

.b-e-box{
	border-radius:0px 0px 6px 6px;
	padding: 10px;
	height:133px;
	overflow-y:auto;
}

.home-b-e-name{
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  max-height: 30px;
  overflow: hidden;
}

.b-e-title{
	padding: 0px 0 5px 0px;
	font-family: OpenSans;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

.home-b-e-responsive{

}

.padding-left-zero-b-box{
	padding-left: 0;
}

.padding-left-zero-home-e-b{
		padding-left: 0;
}

.leave-top-block-element-first{
	width: 35%;
	float: left;
	font-size: 14px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

.leave-top-block-element{
	width: 20%;
	font-size: 14px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	float: left;
}

.leave-top-block{
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #e0e6ef;
    padding: 14px;
	background: #fff;
	color: #4a4a4a;
	font-weight: 900;
}

.leave-apply-block{
	border-radius: 4px;
  	background-color: #ffffff;
  	border: solid 1px #e0e6ef;
    padding: 14px;
	color:#007fff;
	font-weight: 900;
	float: right;
	cursor: pointer;
	font-size: 14px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

.leave-table{
	font-size:12px;
	font-weight:500;
	color:#8b8fa1;
	margin-bottom: 15px;
}

.leave-list-tr{
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(159, 205, 248, 0.24);
	background-color: #ffffff;
	border: solid 1px #e0e6ef;
	height: 48px;
	font-size:12px;
	font-weight:500;
	color:#8b8fa1;
	margin-bottom: 15px;
}

.leave-pending{
	color: red;
}

.leave-approved{
	color: #1bcb7b;
}

.leave-decline{
	color: #eb4a74;
}

.leave-table-td{
	line-height: 26px !important;
}

.leave-action{
	background:#e0e6ef;
	color:#95a9c0;
	font-weight:500;
	height: 30px;
}

.session-name{
	font-size: 20px;
	padding: 10px;
	color:#007fff;
}
.back-white{
	background : #fff;
}

.font-small{
	font-size: small;
}
.width-full{
	width: 100%;
}

.align-right{
	text-align: right;
}


.home-e-b-list{
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding: 2px 0px 2px 0px;
}

.leave-app{
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
	width: 100%;
}

.leave-app-input{
	padding: 2px 0px 11px 0px;
}
.leave-sign{
	float: right;
}
.leave-blank-row{
	height:12px;
}

.week-select{
	padding: 10px;
	width:200px;
}
.dropbtn {
	background: #fff;
    color: #007fff;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
	position: absolute;
	left:-10px;
    background-color: #f1f1f1;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    /* color: #8b8fa1; */
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.leave-apply-block:hover .dropdown-content {display: block;}


.session-feedback-row{
		width: 100%;
		height: 84px;
		border-radius: 4px;
		box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.1);
		background-color: #ffffff;
		border: solid 1px #e0e6ef;
}

.session-feedback-td{
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.1px;
		color: #007fff;
		vertical-align: middle !important;
}

.session-feedback-th{
	color: #2968b1;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.1px;
}

.feedback-button{
	background: #007fff;
	color:#fff;
	border-radius: 4px;
	border: solid 1px #e0e6ef;
	padding:5px 10px 5px 10px;
}

@media(max-width:990px){
	.event-mar{
		margin-left:0;
	}

	.faculty-contact-height{
		height: 58px;;
	}
	.menu {
		width: 33%;
		height: 50px;
		line-height : 50px;
		color: #8b8fa1;
		text-align: center;
	  }

	.leave-top-block-element-first{
		width: 100%;
		float: none;
		padding: 5px;
	}

	.leave-top-block-element{
		width: 100%;
		float: none;
		padding: 5px;
	}

	.leave-apply-block{
		border-radius: 4px;
		background-color: #ffffff;
		border: solid 1px #e0e6ef;
		padding: 14px;
		color:#007fff;
		font-weight: 900;
		float: right;
		cursor: pointer;
		font-size: 14px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		margin-top: 10px;
		margin-left: 0px;
		font-weight: 900;
		float: none;
		text-align: center;
		cursor: pointer;
	}
}

@media(min-width:755px) and (max-width:925px){
	.menu {
		width: 29%;
		height: 50px;
		line-height : 50px;
		color: #8b8fa1;
		text-align: center;
	}
}

@media(max-width:750px){
	.course-menu{
		width: 90%;
		height: 50px;
		line-height : 50px;
		color: #8b8fa1;
		margin: 0px 10px 0px 10px;
	  }
	.course-menu-ul{
		list-style: none;
		display: block;
		margin-bottom: auto;
		width: 100%;
	}

	.batch-profile{
		width:99%;
		float: left;
		margin: 5px;
		margin: 2%;
	}

	.search-batch{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.club-side-list{
		/* margin-top: 10px; */
		min-height:200px;
		max-height:200px;
		overflow-y:scroll;
	}
	.event-list-menu{
		margin-top:10px;
		padding: 0;
	}

	.menu {
		width: 26%;
		height: 50px;
		line-height : 50px;
		color: #8b8fa1;
		text-align: center;
	  }

	  .hall-title{
		text-align:-webkit-right;
		width:76%;
	}

	.home-b-e-responsive{
		text-align: center;
	}
	.padding-left-zero-home-e-b{

	}

	.padding-left-zero-b-box{
		padding: 0;
	}

	.home-event-box-margin{
		margin-top: 10px;
	}
}

@media(max-width:700px){

	.menu {
		width: 40%;
		height: 50px;
		line-height : 50px;
		color: #8b8fa1;
		text-align: center;
	  }
	.reg-cls{
		width:99%;
		margin-left: auto;
		margin-right: auto;
	}

	.pdf-zoom-in-out{
		width: 100px;
		background: #f5f6fa;
		border-radius: 14px;
		padding: 4px;
		margin-left: 60%;
		margin-top: 20px;
	}

	.top-bar-main{
		display: none;
	}
	
	.side-bar-main{
		display: block;
	}
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} 
}

@media(max-width:530px){
	
	.faculty-contact{
		width: 100%;
		float:left;
	}

	.faculty-contact-height{
		height: 102px;;
	}

	.club-select-pad{
		padding: 10px;
		width:100%;
		margin-top:5px;
	}
}

@media(max-width:420px){
	.notice-subject-home{
		width:40%;
	}

	.notice-type-home{
		width:20%;
		text-align:right;
		color:#fe6b29;
		font-size:small;
	}

	.notice-time-home{
		width:40%;
		text-align:right;
		font-size:small;
		text-align: left;
	}

	.notice-home-count{
		width:62%;
		display:-webkit-box;
		font-size:small;
		margin-left: inherit;
	}

	.pdf-zoom-in-out{
		width: 100px;
		background: #f5f6fa;
		border-radius: 14px;
		padding: 4px;
		margin-left: 20%;
		margin-top: 20px;
	}

	.menu1 {
		width: 125px;
		height: 50px;
		line-height : 50px;
		color: #8b8fa1;
		margin: 0px 10px 0px 10px;
	  }

	  
	
	
}