body {
	font-family: Helvetica, Arial, Sans-Serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333333;
}

.load-wait{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.6;
	background: url(../images/loader.gif) center no-repeat;
	z-index: 1051;
}

#loading{
	display: none;
	background-color: #eee;
}