<div class="center page-wise-menu">
        <ul class="course-menu-ul">
            <li class="course-menu sub-sub-menu active-bottom" ng-click="activateCouserFrame('faculty');" id="faculty">Faculty information</li>
            <li class="course-menu sub-sub-menu" ng-click="activateCouserFrame('myprofile');" id="myprofile">My profile</li>
            <li class="course-menu sub-sub-menu " ng-click="activateCouserFrame('batch');" id="batch">Batch Profile</li>
            <li class="course-menu sub-sub-menu" ng-click="activateCouserFrame('myprofile');" id="">Time Table </li>
            <li class="course-menu sub-sub-menu" ng-click="activateCouserFrame('myprofile');" id="">Training Calender </li>
        </ul>
</div>
<div class="faculty-list-display col-md-12"  id="faculty-main-div">
    <div class="col-md-3">
            <div  class="list-group-item" style="background:#95a9c0;color:#fff;">
                   <div style="font-size:12pt;"> List of Faculty Members</div>
                   <span><input type="text" ng-model="search" class="form-control" style="color:#4a90e2;border-radius:15px;" placeholder="Search faculty member"></span>
            </div>
        <div class="list-group faculty-list" style="cursor: pointer;">
            <a ng-click="openFacultyProfile(faculty);" class="list-group-item" ng-repeat="faculty in facultyArr | filter:search" id="{{faculty.contact.phone}}" >
               <span><img src="{{faculty.profilePic}}" style="width:25px;border-radius: 50%;"/></span> 
               <span style="margin:0 0 0 5px;">{{faculty.firstName}} {{faculty.lastName}}</span>
            </a>
           
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center;background:#95a9c0;color:#fff;">Faculty Profile : {{faculty.firstName}} {{faculty.lastName}}</div>
            <div class="panel-body">
                <div class="col-md-12" style="padding:20px;background:#95a9c0;">
                    <div class="col-md-12 card faculty-contact-height" style="">
                            <div class="faculty-contact"><span style="font-weight: bold;">Email-id :</span> {{faculty.email}}</div>
                            <div class="faculty-contact"><span style="font-weight: bold;">Contact-No :</span> {{faculty.contact.phone}}</div>
                            <div class="faculty-contact"><span style="font-weight: bold;">Fax :</span> {{faculty.contact.fax}}</div>
                    </div>
                    <div class="col-md-4 card" style="margin-top:5px;">
                        <img src="{{faculty.profilePic}}" style="width:100%;height: 298px;object-fit: fill;"/>
                        <div> <span style="font-size: 12pt;font-weight: bold;">{{faculty.firstName}} {{faculty.lastName}}</span><br>
                            <span>{{faculty.typeOfFaculty}}</span>
                            </div>
                        <div style="margin-top:24px;" class="faculty-address"> {{faculty.designation}}<br> </div>
                    </div>
                   
                    <div class="col-md-8 padding-right-zero " style="margin-top:5px;">
                        <div class="col-md-12 card padding-right-zero">
                            <div class="col-md-12 ">
                                <div class="panel panel-default panel-border">
                                        <div class="panel-heading">Office Address</div>
                                        <div class="panel-body faculty-address"> {{faculty.officeAddress}}</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                    <div class="panel panel-default panel-border ">
                                            <div class="panel-heading">Mailing Address</div>
                                            <div class="panel-body faculty-address"> {{faculty.mailingAddress}}</div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-12 card" style="margin-top:5px;">
                            <div class="col-md-12 padding-right-zero padding-left-zero">
                                <div class="panel panel-default panel-border">
                                        <div class="panel-heading">Area of Specialization</div>
                                        <div class="panel-body faculty-address"> {{faculty.officeAddress}}</div>
                                </div>
                            </div>
                        </div>
                </div>
                    <!-- <div class="col-md-4" style="margin-top:4%;">
                       <div> <span style="font-size: 12pt;font-weight: bold;">{{faculty.firstName}} {{faculty.lastName}}</span><br>
                        <span>{{faculty.typeOfFaculty}}</span>
                        </div>
                       <div style="margin-top:24px;"> {{faculty.designation}}<br> {{faculty.location}}</div>
                    </div> -->
                   
                    <!-- <div class="col-md-4" style="margin-top:4%;">
                            <div><span style="font-weight: bold;">Email-id :</span> {{faculty.email}}</div>
                            <div  style="margin-top:10px;"><span style="font-weight: bold;">Contact-No :</span> {{faculty.contact.phone}}</div>
                    </div> -->
                <!-- </div> -->
                <!-- <div class="col-md-12" style="background: #ccc;height: 1px;"></div> -->
                <!-- <div class="col-md-12">
                        <div class="col-md-6 padding-right-zero padding-left-zero">
                            <div class="panel panel-default">
                                    <div class="panel-heading">Office Address</div>
                                    <div class="panel-body"> {{faculty.officeAddress}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-right-zero padding-left-zero">
                                <div class="panel panel-default">
                                        <div class="panel-heading">Mailing Address</div>
                                        <div class="panel-body"> {{faculty.mailingAddress}}</div>
                                </div>
                        </div>
                </div> -->
                <div class="col-md-12 card" style="margin-top:5px;">
                        <div class="panel panel-default panel-border" >
                                <div class="panel-heading" style="display:-webkit-box;">
                                    <div style="width:50%;">Profile Description </div>
                                     <div style="width:50%;text-align:right;"><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#profileDesc">Collapse</button></div>
                                </div>
                                <div class="panel-body" id="profileDesc" style="font-size:10pt;">{{faculty.profileDesc}}</div>
                        </div>
                </div>
                <div class="col-md-12 card" style="margin-top:5px;">
                        <div class="panel panel-default panel-border" >
                                <div class="panel-heading">Comment 
                                </div>
                                <div class="panel-body" id="profileDesc" style="font-size:10pt;">{{faculty.profileDesc}}</div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div style="padding:50px;display:none;" id="profile">
        <div class="col-md-2">
            </div>
        <div class="col-md-4 card" style="margin-top:10px;padding:0;">
                <div class="" style="text-align:center;"> <img src="profile-images/abc.jpeg" style="width:100%;height: 298px;object-fit: fill;"></div>
                <div style="text-align:center;font-size:17pt;margin-bottom:10px;"><span>Arvind Kumar Yadav</span> </div>
                <div class="col-md-12">
                        <form>
                                <div class="row">
                                  <label for="staticEmail" class="col-sm-7 col-form-label">Lecture Group :</label>
                                  <div class="col-sm-5">
                                        Lecture Gr. D
                                  </div>
                                </div>
                                <div class="row">
                                  <label for="staticEmail" class="col-sm-7 col-form-label">Morning Activity Group :</label>
                                  <div class="col-sm-5">
                                        Gr A
                                  </div>
                                </div>
                                <div class="row">
                                        <label for="staticEmail" class="col-sm-7 col-form-label">Counsellor Name :</label>
                                        <div class="col-sm-5">
                                                Umesh Kumar Yadav
                                        </div>
                                      </div>
                                      <div class="row">
                                        <label for="staticEmail" class="col-sm-7 col-form-label">House Name : </label>
                                        <div class="col-sm-5">
                                                House-12345
                                        </div>
                                      </div>
                              </form>
                </div>
         </div>
         <div class="col-md-1">
         </div>
         <div class="col-md-4 card" style="margin-top:10px;">
                <form>
                    <div style="text-align:center;font-size:17pt;font-weight:600;margin-bottom:10px;">Change Password</div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">New Password</label>
                        <input type="text" class="form-control"  placeholder="new password">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Confirm Password</label>
                        <input type="text" class="form-control"  placeholder="confirm password">
                    </div>
                    <button  class="btn btn-primary my-1 pull-right">Submit</button>
                </form>
         </div>
</div>

<div class="col-md-12" style="padding:50px;display:none;" id="batch-div">
     <div class="search-batch"><input type="text" ng-model="query" class="form-control" style="color:#4a90e2;border-radius:15px;" placeholder="Search batch member"></div>
        <div class="batch-profile card" style="padding:0;" ng-repeat="batch in batchProfileArr| filter:query">
                        <div class="" style="text-align:center;"> <img src="{{batch.profilePic}}" style="width:100%;height: 298px;object-fit: fill;"></div>
                        <div style="text-align:center;font-size:17pt;margin-bottom:10px;"><span>{{batch.name}}</span> </div>
                        <div class="col-md-12">
                                <form>
                                        <div class="row">
                                                <label for="staticEmail" class="col-sm-7 col-form-label">Lecture Group :</label>
                                                <div class="col-sm-5">
                                                        {{batch.lectureGroup}}
                                                </div>
                                        </div>
                                        <div class="row">
                                                <label for="staticEmail" class="col-sm-7 col-form-label">Morning Activity Group :</label>
                                                <div class="col-sm-5">
                                                                {{batch.morningActivityGroup}}
                                                </div>
                                        </div>
                                        <div class="row">
                                                <label for="staticEmail" class="col-sm-7 col-form-label">Counsellor Name :</label>
                                                <div class="col-sm-5">
                                                                {{batch.counsellorName}}
                                                </div>
                                                </div>
                                                <div class="row">
                                                <label for="staticEmail" class="col-sm-7 col-form-label">House Name : </label>
                                                <div class="col-sm-5">
                                                                {{batch.houseName}}
                                                </div>
                                                </div>
                                        </form>
                        </div>
                </div>
       
       <!-- <div class="col-md-4">
        <slick class="slickShow" id="slickShow" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'> </slick>
       </div> -->
</div>