>

<div class="footer-copyright blue py-3 text-center text-white"  >
    <div class="col-md-12" style="margin-top: 40px; height: 50px; background-color: #3F3F3F;" >
        <div class="row">
            <div class="col-md-3" style="margin-top: 10px; color: #FFFFFF;">
                <a href="https://www.finmin.nic.in" target="_black" style="color: #FFFFFF">Ministry of Finance</a>
            </div>
            <div class="col-md-3" style="margin-top: 10px; color: #FFFFFF;">
                <a href="http://www.nadt.gov.in/" target="_black" style="color: #FFFFFF">National Academy of Direct Taxes</a>
            </div>
            <div class="col-md-2" style="margin-top: 10px; color: #FFFFFF;">
                <a href="https://www.incometaxindia.gov.in/" target="_black" style="color: #FFFFFF">Income Tax Department</a>
            </div>
            <div class="col-md-2" style="margin-top: 10px; color: #FFFFFF;">
                <a href="www.digitalindia.gov.in/" target="_black" style="color: #FFFFFF">Digital India</a>
            </div>
            <div class="col-md-2" style="margin-top: 10px; color: #FFFFFF;">
                <a href="https://www.irsofficersonline.gov.in" target="_black" style="color: #FFFFFF">IRS Officers Online</a>
            </div>
        </div>
    </div>