<div class="container login">
    <div class="">
        <div class="login-box">

            <div class="">
                <div class="login-title">Forgot Password!</div>
                <form name="loginForm">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" ng-model="email">
                    </div>
                    <button class="btn btn-primary pull-right" ng-click="sendReset();">Reset</button>
                </form>
            </div>
        </div>

    </div>
</div>