<div class="container login">
	<div class="login-box">
		<img src="../images/avatar.png" class="avatar">
		<div class="login-title">
			<div>Welcome to Acme</div>
			<span style="font-size:small;">Create your account by filling the form below</span>
		</div>
		<div class="">

			<div class="">

				<div style="margin-bottom: 32px;"></div>
				<form name="signupForm">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" class="form-control" id="name" ng-model="name">
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control" id="email" ng-model="email">
					</div>
					<div class="form-group">
						<label for="pwd">Password:</label>
						<input type="password" class="form-control" id="pwd" ng-model="passwd">
					</div>
					<button class="btn btn-primary pull-right" ng-click="signup();">Sign up</button>
			</div>
			</form>
		</div>
	</div>

</div>
</div>